body {
  background-color: #e8eae6;
}

.player1 {
  color: #b04759;
}

.player2 {
  color: #19a7ce;
}

.table {
  border-color: #e7cbcb;
}

.table-scroll {
  height: 315px;
  overflow-y: auto;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                     /* chrome and some others*/
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

thead {
  background-color: #e7cbcb;
}

.table-heading {
  color: #0b00a0;
}

.icons-table > tbody > tr.active {
  background-color: #d8d8d8;
}
